.col-md-3
  .movie-card.card{style: ""}
    .movie-poster.card-img-top.text-center
      %img{ src: movie.poster_url, alt: 'poster not found' }
    .movie-details.card-body
      .card-title
        .title
          = movie.title
        .rate
          rate:
          .badge.badge-light
            = movie.rate
      .overview.card-text
        = movie.overview
    .actions.card-text
      - if user_signed_in?
        - unless favorited? movie
          %a.float-left{href: 'javascript:void(0)', onclick: "AddToFavorite(this, #{movie.movie_id})"}
            %img{src: image_url('star-off.png')}
        - else
          %a.float-left{href: 'javascript:void(0)', onclick: "RemoveToFavorite(this, #{movie.movie_id})"}
            %img{src: image_url('star-on.png')}

      %a.float-right{href: movie_path(id: movie.movie_id)} see more >>
